<%= form_with(model: feed, local: true, url: choose_create_or_edit) do |form| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= feed.errors.count %>　件のエラーが発生しました。</h2>
      <ul>
      <% feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <p class="label"><%= form.label :image %></p>
    <%= image_tag (feed.image.url) if feed.image && feed.image.url %><br>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
    <p class="label"><%= form.label :comment %></p>
    <%= form.text_field :comment %>
    <p class="label"></p>
  </div><br>
  <%= form.submit %>
<% end %>
