<div class="content_blogs">
    <strong>写真:</strong>
    <%= image_tag @feed.image.url %>
</div>
<div class="content_blogs">
  <strong>コメント:</strong>
  <%= @feed.comment %>
</div>
<div class="content_blogs">
  <strong>投稿者:</strong>
  <%= link_to "#{@feed.user.name}", user_path(@feed.user.id) %>
</div>
<div class="links">
  <%# current_user.favorite_feeds.find_by(feed_id: @feed.id) をヘルパーへ %>
  <% unless @feed.user_id == current_user.id %>
    <% if current_user.favorite_feeds.find_by(id: @feed.id).present? %>
      <%= link_to 'お気に入りから削除', favorite_path(feed_id: @feed.id), method: :delete %>
    <% else %>
      <%= link_to 'お気に入りに追加', favorites_path(feed_id: @feed.id), method: :post %>
    <% end %>
  <% end %>
  <%= link_to 'Back', feeds_path %>
</div>
