<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @feed.image.url %><br>
</p>
<p><%= @feed.comment %></p>
<p><%= link_to "#{@feed.user.name}", user_path(@feed.user_id) %></p>

<% if @feed.user.id == current_user.id %>
  <%= link_to 'Edit', edit_feed_path(@feed) %>
  <%= link_to 'Destroy', @feed, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', feeds_path %>
