<%= form_with(model: user, local: true, url: choose_path_create_or_edit)do |f| %>
  <% if user.errors.any? %>
    <div class="error_explanation">
      <h2><%= user.errors.count %>　件のエラーが発生しました。</h2>
      <ul>
        <% user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <p class="label"><%= f.label :name %></p>
    <%= f.text_field :name %>
    <p class="label"><%= f.label :email %></p>
    <%= f.email_field :email %>
    <p class="label"><%= f.label :password %></p>
    <%= f.password_field :password %>
    <p class="label"><%= f.label :password_confirmation %></p>
    <%= f.password_field :password_confirmation %>
    <p class="label"><%= f.label :image %></p>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <% if user.image && user.image.url %>
    <p class="label_small"><%= '登録済みの写真:' %></p>
    <p><%= image_tag (@user.image.url) if @user.image && @user.image.url %></p>
  <% end %>
  <%= f.submit "Create my account" %>
<% end %>
